apiVersion: v1
kind: ResourceQuota
metadata:
  name: resource-quota
  namespace: "{{ namespace_name }}"
  annotations: 
    nekic.io/size: "{{ size }}"
spec:
  hard:
    cpu: "8"
    memory: 16G
    persistentvolumeclaims: "20"

