apiVersion: v1
kind: ResourceQuota
metadata:
  name: resource-quota
  namespace: "{{ namespace_name }}"
  annotations:
    nekic.io/size: "{{ size }}"
spec:
  hard:
    cpu: "4"
    memory: 8G
    persistentvolumeclaims: "10"

